.button {
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	border: none;
	padding: 8px 18px;
	display: inline-block;

	&:hover {
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	}
}

.green-button {
	@extend .button;

	background-color: $green;
}