@import './var';

.card {
	border-radius: 6px;

	&:hover {
		box-shadow: 0 4px 6px 0 rgba(0,0,0,0.50);
	}
}

.tile.is-child {
	&:hover {
		box-shadow: 0 4px 6px 0 rgba(0,0,0,0.50);
	}
}

// TEXT STYLES CLASSES

h2 {
	font-size: 16px;
}

.dashboard-card-title {
	color: $grey;
	font-weight: bold;
	text-transform: capitalize;
}

.category-title {
	@extend .grey-text;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

// ELEMENTS STYLE

.single-data {
	margin-bottom: 30px;
	line-height: 1;
	.upper-text {
		color: $grey;
		font-size: 12px;
	}

	.big-number {
		font-size: 36px;
		font-weight: bold;
	}

	.unit {
		font-size: 12px;
		font-weight: bold;
		color: $black;
	}

	&.last {
		margin-bottom: 0;
	}
}

// TEXT COLORATION CLASSES
.red-text {
	color: $red;
}

.green-text {
	color: $green;
}

.purple-text {
	color: $purple;
}

.black-text {
	color: $black;
}

.yellow-text {
	color: $yellow;
}

.grey-text {
	color: $grey;
}

.light-grey-text {
	color: $light-grey;
}