// Form variables
$input-focus-border-color: none;

// Button variables
$button-color: white;
$button-hover-color: $button-color;
$button-focus-color: $button-color;
$button-active-color: $button-color;